*{
    box-sizing: border-box;
}

body{
    background-color: rgb(157, 189, 209);
    font-family: "Hevetica", sans-serif;
}

.container{
    background-color: rgb(183, 211, 221);
    max-width: 600px;
    margin: 100px auto;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0,0, 100, .2);
   border-radius: 10px;
}

h1{
    margin-top: 0;
    text-align: center;
}

input{
    padding: 10px;
    border: 1px solid #9eaec7;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

button{
    background-color: rgb(98, 146, 135);
    color: rgb(19, 26, 20);
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color .3s ease;
}

button:hover{
    background-color: rgb(134, 150, 144);
}

#total{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}